# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build ve dist klasörleri
node_modules
dist
dist-ssr
*.local

# Editor dosyaları
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ortak klasörler
node_modules/
__pycache__/

# Ortam dosyaları
.env
*.log

# Veritabanı dosyaları
*.db
*.bak
