# Database Configuration
DATABASE_URL=postgresql://postgres:password@db:5432/sevimler

# Security
SECRET_KEY=sevimler_kuruyemis_key_2026_premium

# PayTR Credentials (Leave empty for Mock Mode)
PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=

#Shipping credentialss(yurtici)
SHIPPING_API_KEY=
SHIPPING_API_SECRET=

# App Port
PORT=8000
HOST=0.0.0.0
