@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #d97706;
  --color-primary: #1c1917;
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
}

:root {
  --bg: #ffffff;
  --text: #1c1917;
  --accent: #d97706;
  
  background-color: var(--bg);
  color: var(--text);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
  color: var(--accent);
}

p {
  font-family: "Inter", sans-serif;
  color: var(--accent); /* Gray-600 for better readability */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
